/* ################################ */
/* NPC on the map */

.map-npc.gone {
  display: none;
}
.map-npc.appear {
  display: block;
}
.map-npc > .msp {
  background-image: url('img/sheet.png');
  position: absolute; top: 0; left: 0;
  transform-origin: top left;
}

.map-dwarfIdle {
  top: 80px;
  left: 100px;
}
.map-dwarfIdle > .msp {
  transform: scale(0.5);
}

.map-fairy {
  top: 130px;
  left: 1270px;
}
.map-fairy > .msp {
  transform: scale(0.5);
}

.map-dwarfWorking {
  top: 80px;
  left: 720px;
  display: none;
}
.map-dwarfWorking > .msp {
  transform: scale(0.5);
}

.map-timeTravelerFirst {
  top: 80px;
  left: 1830px;
}
.map-timeTravelerFirst > .msp {
  transform: scale(0.5);
}

.map-bridgeFrame {
  top: 250px;
  left: 700px;
  display: none;
}
.map-bridgeFrame > .msp {
  transform: scale(0.8);
}

.map-bridge {
  top: 250px;
  left: 1700px;
  display: none;
}
.map-bridge > .msp {
  transform: scale(0.8);
}

.map-aristocrat {
  top: 900px;
  left: 100px;
}
.map-aristocrat > .msp {
  transform: scale(0.5);
}

.map-safe {
  top: 900px;
  left: 1100px;
}
.map-safe > .msp {
  transform: scale(0.5);
}

.map-plotPast {
  top: 1330px;
  left: 710px;
}
.map-plotPast > .msp {
  transform: scale(0.5);
}

.map-plotFuture {
  top: 1330px;
  left: 1710px;
}
.map-plotFuture > .msp {
  transform: scale(0.5);
}

.map-sorcerer {
  top: 1700px;
  left: 1100px;
}
.map-sorcerer > .msp {
  transform: scale(0.5);
}

.map-throne {
  top: 1750px;
  left: 680px;
}
.map-throne > .msp {
  transform: scale(0.7);
}

.map-boss {
  top: 1750px;
  left: 1680px;
}
.map-boss > .msp {
  transform: scale(0.7);
}

/* ################################ */
/* NPC encounter */

.npc-safe-0 #npc-extra {
  display: block;
  position: absolute;
  left: 50px; top: 100px;
}

@keyframes bossShake {
  0% { transform: translate(-3px, 0); }
  50% { transform: translate(3px, 0); }
  100% { transform: translate(-3px, 0); }
}
#npc-pic.npc-boss-2 {
  animation: bossShake 0.1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* ################################ */
/* Items */

.item > .isp {
  background-image: url('img/items.png');
  position: absolute; top: 0; left: 0; width: 170px; height: 160px;
  transform-origin: top left;
  transform: scale(0.5);
}
.item-sword { background-position: 0 0; }
.item-seedling { background-position: -170px 0; }
.item-lemon { background-position: -340px 0; }
.item-tea { background-position: -510px 0; }
.item-spell { background-position: -680px 0; }
.item[data-iid=""] > .isp {
  background: none;
}
